#digital-icon-palette:link {
    color: green !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-palette:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  #digital-icon-palette:hover {
    color: #00FFFF;
    background-color: transparent;
    text-decoration: underline;
  }
  #digital-icon-palette:active {
    color: aqua;
    background-color: transparent;
    text-decoration: underline;
  }




  #digital-icon-palette:link {
    color: green !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-palette:visited {
    color: pink !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-palette:hover {
    color: #00FFFF !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  #digital-icon-palette:active {
    color: aqua !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  
  
 
  #digital-icon-arrow:link {
    color: green !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-arrow:visited {
    color: pink !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-arrow:hover {
    color: #00FFFF !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  #digital-icon-arrow:active {
    color: aqua !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  
  
  
  #digital-icon-laptop:link {
    color: green !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-laptop:visited {
    color: pink !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-laptop:hover {
    color: #00FFFF !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  #digital-icon-laptop:active {
    color: aqua !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  
  
  
  #digital-icon-book:link {
    color: green !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-book:visited {
    color: pink !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-book:hover {
    color: #00FFFF !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  #digital-icon-book:active {
    color: aqua !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  

  #digital-icon-phone:link {
    color: green !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-phone:visited {
    color: pink !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
  #digital-icon-phone:hover {
    color: #00FFFF !important;
    background-color: transparent !important;
    text-decoration: underline !important;
  }
  #digital-icon-phone:active {
    color: aqua !important;
    background-color: transparent !important;
    text-decoration: underline;
  }
  
  
  #digital-icon-mail:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  #digital-icon-mail:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  #digital-icon-mail:hover {
    color: #00FFFF;
    background-color: transparent;
    text-decoration: underline;
  }
  #digital-icon-mail:active {
    color: aqua;
    background-color: transparent;
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 600px) {
    #intro-example {
      background-size: contain; /* Adjust as needed */
    }
  }
  