/* Default styles for larger screens */

/*
.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 5px;
  align-items: center;
  background-color: black;
  font-size: .85rem;
  font-Family: "belotta text";
}

.nav-list-items {
  display: flex;
  align-items: center;
  gap: 10px;

}

.nav-list a {
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: white;
  transition: color 0.6s ease;
  border-radius: 5px;
}

.nav-list a:hover {
  color: red;
}

.header-title {
  font-family: "bad script";
  font-size: 1rem;
  color: white;
  
}

.header-subtitle {
  font-family: "belotta text";
  font-size: 1rem;
}

.nav-list-a-active {
  background-color: red !important;
  color: white !important;
  border-color: red !important;
}

.nav-list a:hover,
.nav-list a.nav-list-a-active {
  color: red !important;
}

*/
 Media query for smaller screens 
@media (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }
}
