.fixed-navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important; /* Ensure it's above other content */
  }

  #navbarScrollingDropdown {
    text-shadow: 1px 1px 2px #F63DB0!important;
    color:'white' !important;
}

.navbar-toggler-icon {
    color: white !important;
  }
  

.navbar .navbar-nav .nav-link {
    text-decoration: none !important;
    color: white !important;
    font-size: 14px !important;
    text-shadow: 1px 1px 4px #00FFFF !important;
}

.navbar .navbar-nav .nav-link:before {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;
}

.navbar .navbar-nav .nav-link:hover::before {
    width: 100%;
    transform: scaleX(1);
    transform-origin: bottom left;
}


.signup {
    background-color: #000 !important;
    color: #fff !important;
    font-size: 12px !important;
    border: none !important;
    border-radius: 25px !important;
    padding: 5px 20px !important;
    margin-left: 15px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;  
}

signup:hover {
    background-color: #fff !important;
    color: #f44336 !important;
}

