* {
  font-family: Raleway
}

@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-react-ui-kit/dist/css/mdb.min.css';



.about {
  @media (max-width: 576px) {
    .row {
      flex-direction: column;
    }
  }
  
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@media (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }
}
