@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio {
  background-color: black;
} 

.contact {
  background-color: black;
} 

.home {
  background-color: black;
} 

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



