* {
  font-family: Raleway
}
@import '~@fortawesome/fontawesome-free/css/all.css';



/*about link
#home-design-icon:link {
  color: pink !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

#home-design-icon:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
#home-design-icon:hover {
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
}
#home-design-icon:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}


#home-book-icon:link {
  color: black!important;
  background-color: transparent !important;
  text-decoration: none !important;
}

#home-puzzle-icon:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
#home-puzzle-icon:hover {
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
}
#home-puzzle-icon:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}



#home-book-icon:link {
  color: black!important;
  background-color: transparent !important;
  text-decoration: none !important;
}

#home-book-icon:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
#home-book-icon:hover {
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
}
#home-book-icon:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}


#home-document-icon:link {
  color: pink !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

#home-document-icon:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
#home-document-icon:hover {
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
}
#home-document-icon:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}

k
#home-person-icon:link {
  color: pink !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

#home-person-icon:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
#home-person-icon:hover {
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
}
#home-person-icon:active {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}
*/

.about {
  @media (max-width: 576px) {
    .row {
      flex-direction: column;
    }
  }
  
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@media (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }
}

.flow-links {
  display: flex;
  justify-content: center;
  padding-right: 2.5rem !important;
}
